.card {
	width: 80%;
	height: 220px;
	color: #ccc;
	background: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.28) 0px 6px 12px;
}

.card img {
	transition: all 0.4s ease-in-out;
	border-radius: 3px 0 0 3px;
}

.p-0 {
	padding: 0px !important;
}

.p-5 {
	padding: 5px !important;
}

.p-8 {
	padding: 8px !important;
}

.p-0-8 {
	padding: 0px 8px !important;
}

.p-8-0 {
	padding: 8px 0px !important;
}

.p-10-5 {
	padding: 10px 5px !important;
}

.p-20-0 {
	padding: 20px 0px !important;
}

.p-10 {
	padding: 10px !important;
}

.pt-25 {
	padding-top: 25px;
}

.pt-45 {
	padding-top: 45px;
}

.pb-15 {
	padding-bottom: 15px;
}

.pl-0 {
	padding-left: 0px;
}

.pl-45 {
	padding-left: 45px;
}

.m-0 {
	margin: 0px !important;
}

.mb-5 {
	margin-bottom: 5px !important;
}

.mb-8 {
	margin-bottom: 8px !important;
}

.mb-20 {
	margin-bottom: 20px !important;
}


.mb-25 {
	margin-bottom: 25px !important;
}

.mt-25 {
	margin-top: 25px;
}

.w-50 {
	width: 50px;
}

.fs-12 {
	font-size: 12px;
}

.card-right {
	padding: 20px 15px 0px 15px;
}

.fw-600 {
	font-weight: 500 !important;
}

.stars {
	padding-bottom: 20px;
}

.stars i {
	color: #FFC904
}

.stars i span {
	color: #333;
	;
	font-size: 12px;
}

.card-text i {
	margin-left: 8px;
}

.right p {
	color: #333;
	;
	font-weight: 500;
}

.right button {
	border-radius: unset;
}

.info_links div i {
	font-size: 20px;
	display: block !important;
	text-align: center;
}

.info_links div p {
	color: #6C757D;
	display: block !important;
	text-align: center;
}

.collapse-card {
	width: 80%;
	height: 100%;
	color: #ccc;
	background: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.28) 0px 6px 12px;
}

.bg_dark {
	background: rgba(0, 0, 0, 0.5);
}

.info_links div {
	padding-left: 0px;
	padding-right: 0px;
}

.middle-align {
	margin: 24% 0;
}

.middle button,
.book_btn {
	border-radius: 5px !important;
	font-size: 12px;
	font-weight: 500;
	color: white;
	background-color: #00C684 !important;
	vertical-align: middle;
	border: 0.5px solid #00C684;
}

.middle button:last-child i {
	color: #DC3545;
}

.table {
	color: white;
}

.bg-white {
	background: white;
}

.right {
	float: right;
}

.nav_heading {
	width: 100%;
	font-weight: bolder;
	padding: 20px;
	/* border: 1px solid blue; */
	float: left;
}

.nav_heading h3 {
	font-weight: bolder !important;
	margin-top: auto !important;
	margin-bottom: auto !important;
}

.nav_link {
	width: 100%;
	padding: 15px 30px;
	border: 0.5px solid #EDECEC;
	float: left;
}

.nav_link li {
	display: inline-block;
	margin: 0 8px;
}

.nav_link li a {
	font-weight: 500;
	color: #333333;
	font-size: 18px;
}

.experience,
.shadow {
	box-shadow: rgba(0, 0, 0, 0.28) 0px 6px 12px;
}

.experience_head {
	padding: 10px 15px;
	font-weight: 500;
	color: #333333;
	font-size: 16px;
	border-bottom: 1px solid #EDECEC;
}

.experience_body {
	padding: 15px;
	font-weight: 500;
	background-color: #FFF9DE;
}

.experience_body ul li {
	line-height: 2.5;
}

hr.sHd:before {
	content: '';
	background: linear-gradient(to right, transparent, #b2b2b2, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}

hr.sHd {
	font-size: 18px;
	position: relative;
	line-height: 1.5em;
	border: 0;
	height: auto;
	background: transparent;
	display: block;
	margin: 1em 0;
	text-align: center;
}

hr.sHd:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	padding: 0 0.5em;
	line-height: 1.5em;
	color: #333;
	background: #f6f6f6;
	text-transform: uppercase;
	font-weight: bold;
}

div.day {
	z-index: 1;
	background: #4A4A4A;
	color: #fff;
	text-align: center;
	font-size: 13px;
	border-radius: 20px;
	height: 25px;
	line-height: 25px;

}

.day_heading {
	font-weight: 600;
	font-size: 16px;
}

.content {
	border-bottom: 1px solid #EDECEC;
}

.c_img {
	padding: 10px 32px;
}

.c_text {
	padding: 10px 0;
}

.text_format p {
	margin-top: 10px !important;
}

.tips_list {
	font-weight: bold;
	padding-bottom: 20px;
}

.pkg-summ__i {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
	border: 0;
	border-radius: 4px;
	margin-top: 10px;
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 10px;
}

.pkgPrcPPCtr .fm {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #999;
}

.pkgPrcPPCtr .prcD {
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

.pkgPrcPPCtr .prcQ {
	font-size: 13px;
	font-weight: 600;
	color: #888;
}

.sub_activity {
	padding: 5px 8px 0 8px;
}

.form-check-label {
	font-weight: 700 !important;
	font-size: 12px;
	margin: 0px;
}

.form_chart {
	padding: 10px;
	margin-top: 10px;
}

.text_align {
	margin-left: 10px;
}

#booknow {
	padding-bottom: 20px;
}

.form-group {
	padding: 10px 0 0 0;
}

.price {
	height: 30px !important;
}

.date {
	height: 30px !important;
	border: 1px solid rgb(169, 169, 169);
	border-radius: 0px;
	color: #4A4A4A;
}

.form-group input[type='text'],
.form-group select,
.form-group input[type='number'] {
	color: #4A4A4A;
	height: 30px;
	font-weight: 500;
}

#transfer {
	height: 30px;
}

.r_pos {
	position: relative;
	left: 273px;
}

.hidden {
	display: none;
}

.traveler_body {
	padding: 10px;
}

.traveler_body p {
	font-size: 16px;
	font-weight: 500;

}

.form-group div:first-child {
	font-weight: 500;
}

.gender-title {
	font-weight: 500;
}

.center {
	text-align: center;
}

.detail_form {
	padding: 0 50px 0 0;
}

.f-item label {
	font-weight: 500 !important;
}

.border_light {
	border: 1px solid rgba(0, 0, 0, 0.13);
}

.secureBlock {
	background: #ddd;
	padding: 20px;
}

.guaranteedSecure {
	color: #fff;
	background: #aaa;
	padding: 5px;
	margin-bottom: 20px;
	font-weight: 500;
}

.secureText {
	color: black;
}


#receipt-price {
	padding: 0;
	margin: 15px 0;
}


#order_summary {
	list-style: none !important;
}

.tour_details {
	background: #fefefe;
	padding: 0;
	border-top: 1px double #d5d5d5;
	width: 100%;
	position: relative
}

.text-wrap ul {
    margin: 0 0 10px;
    display: inline-block;
    width: 100%;
}

.text-wrap ul li {
    font-size: 13px;
	background: none;
	list-style: none;
    padding: 2px 0px;
}

.acco_text {
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}

.data:first-child{
	font-weight: 700;
}

.smalltext {
    color: #666;
	margin-right: 15px;
	font-weight: 500 !important;
}

ul li.incWBlt {
    list-style: disc;
    margin-left: 2em;
    line-height: 16px;
	padding: 4px 0;
	font-weight: 500;
}